<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Recipes</title>
  </head>
  <body>
    
  </body>
</html>
  <!-- <% @recipes.each do |recipe| %>
  <h2> <%= @recipe.name %> </h2>
  <% end  %> -->
